:root {
  --clr-green: #2ecc71;
  --clr-yellow: #f39c12;
  --clr-red: #e74c3c;
  --clr-blue: #3498db;
  --clr-marine: #34495e;
  --clr-dmarine: #2c3e50;
  --clr-grey: #ecf0f1;
}

* {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-grey);
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

#banner {
  margin: 4em 0;
  transform: rotate(-3deg);
}

.worksite {
  height: 10px;
  background: repeating-linear-gradient(
    -45deg,
    var(--clr-yellow),
    var(--clr-yellow) 15px,
    black 10px,
    black 30px
  );
}

h2 {
  text-align: center;
  font-weight: 700;
  padding: 1em 0;
  background-color: var(--clr-yellow);
}

.wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---- CONTROLS----*/
#controls {
  display: flex;
  justify-content: space-around;
  width: 25vw;
  background-color: var(--clr-red);
  padding: 0.5em 0;
  border-radius: 5px;
}

.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.control-button img {
  height: 1em;
  width: 1em;
}

#table {
  display: grid;
  width: min-content;
  border: 1px solid var(--clr-dmarine);
  margin-bottom: 1em;
}

.sub-array {
  display: grid;
}

.cell {
  background-color: var(--clr-dmarine);
  border: 1px solid var(--clr-marine);
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}
.active {
  background-color: var(--clr-green);
}

.prev-selected {
  background-color: var(--clr-yellow);
}

.pressed {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12) inset,
    0 2px 2px rgba(0, 0, 0, 0.12) inset, 0 4px 4px rgba(0, 0, 0, 0.12) inset,
    0 8px 8px rgba(0, 0, 0, 0.12) inset;
}

form {
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

/* Items table */

#items {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-yellow);
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 2em;
}

#items > div {
  display: grid;
  gap: 0 1em;
  grid-template-columns: repeat(3, 1fr);
}

#items > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
